/* ================= PRODUTOS ================= */
.produtos {
    padding: 89px 20px;
}

.produtos h2 {
    text-align: center;
    font-size: 5rem;
    margin: 70px 0 20px 0;
    color: #f5e6d3;
    text-shadow: 13px 3px 7px rgba(0,0,0,0.4);
    font-family: 'Raleway', serif; /* fonte premium */
    font-weight: 300;
}

.cards-produtos {
    display: flex;
    justify-content: center;
    gap: 130px;
    padding:190px 0;
    flex-wrap: wrap;
    margin-top: -100px;
}

.cards-produtos .card {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 70px;
    width: 415px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}

.cards-produtos .card:hover { 
    transform: translateY(-5px); 
}

.cards-produtos .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 46px;
}

.cards-produtos .card img {
    width: 100%;
    height: 750px;      /* ajuste fino se quiser */
    object-fit: cover; /* mantém padrão visual */
    border-radius: 8px;
}



.cards-produtos .card-text h3 { 
    margin: 0 0 30px 0; 
    font-size: 3rem; 
}

.cards-produtos .card-text p { 
    margin: 0; 
    font-size: 1.7rem; 
}

#outros-sucos .img-outros-sucos img {
    width: 40%;
    display: block;
    margin: 0 auto;
}

.cards-produtos .card.card-wide img {
    height: auto;
    max-height: none;
    object-fit: contain;
}

/* SOBRESCREVE o padrão dos cards normais */
.card-wide img {
    height: auto;          /* remove a altura fixa */
    max-height: none;
    object-fit: contain;   /* NÃO corta a imagem */
}