/* ================= PRODUTOS ================= */
.produtos {
    padding: 89px 20px;
}

.produtos h2 {
    text-align: center;
    font-size: 3rem;
    margin: 70px 0 20px 0;
    color: #f5e6d3;
    text-shadow: 13px 3px 7px rgba(0,0,0,0.4);
    font-family: 'Cinzel', serif; /* fonte premium */
}

.cards-produtos {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding:174px 0;
    flex-wrap: wrap;
}

.cards-produtos .card {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 70px;
    width: 250px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    transition: transform 0.3s;
}

.cards-produtos .card:hover { 
    transform: translateY(-5px); 
}

.cards-produtos .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 46px;
}

.cards-produtos .card img {
    width: 140%;       /* ocupa toda a largura do card */
    height: auto;      /* mantém proporção */
    border-radius: 12px;
    object-fit: contain;
}



.cards-produtos .card-text h3 { 
    margin: 0 0 30px 0; 
    font-size: 2.6rem; 
}

.cards-produtos .card-text p { 
    margin: 0; 
    font-size: 1.7rem; 
}

